<h3>Invoice</h3>
<div ng-controller="invoiceCtrl as ctrl">
    <div gridster="ctrl.gridsterOpts">
        <ul>
            <li gridster-item="item" ng-repeat="item in ctrl.invoices" class="gridsterItem">
                <h4>{{item.name}}</h4>Quantity: {{item.qty}}
                <!--make an ng-if here to disable the button if quantity is zero-->
                <button type="button" class="btn btn-primary" ng-click="addToBasket(item)">Add to Basket</button>
            </li>
        </ul>
    </div>
</div>

